extends ../layout

block content
  h1 See #{user.username}'s posts
  a(href="/users/#{user.id}/posts/new") Add a new post for #{user.username}

  each post in posts
    .panel.panel-default.panel-info
      .panel-heading #{post.title}
      .panel-body #{post.body}
        ul
          each tag in post.tags
            li= tag.name
      a(href="/posts/#{post.id}/comments") See all the comments for this post
      br
      a(href="/users/#{user.id}/posts/#{post.id}/edit") Edit this post
      form(action="/users/#{user.id}/posts/#{post.id}?_method=DELETE" method="POST")
        input(type="submit" value="X" class="btn btn-sm btn-danger")